body{
padding: 0;
margin: 0;
box-sizing: border-box;
overflow-y: hidden;
overflow-x: hidden;
}
.container{
display: flex;
background-color: whitesmoke;
}
.left{
flex: 70%;
}
.left{
 background-image: url("picture.jpg");
 background-repeat: no-repeat;
 background-size: 42em;
 height: 200em;
    
 
}
.left h5{
margin-top: 38em;
color: white;
padding-left: 2em;

}
.right{
flex: 30%;
}
.right{
    margin: auto;
    margin-left: 2em;
    background-color: white;
    padding: 6em;
    border-radius: 2em;
    margin-top:5em;
    margin-right: 7em;
    


}
#feet{
padding: 4px;
width: 20em;
border-radius: 4px;
border-color:rgb(223, 217, 217);

}
#inch{
    padding: 4px;
    width: 20em;
    border-radius: 4px;
    border-color:rgb(223, 217, 217);
    }
    #weight{
        padding: 4px;
        width: 20em;
        border-radius: 4px;
        border-color:rgb(223, 217, 217);
        }
        #gender{
            padding: 4px;
            width: 20em;
            border-radius: 4px;
            border-color:rgb(223, 217, 217);
            }

            #Age{
                padding: 4px;
                width: 20em;
                border-radius: 4px;
                border-color:rgb(223, 217, 217);
            
                }
.header{
text-align: center;
color: rgb(121, 116, 116);
}
.btn{
background-color: rgb(41, 72, 247);
color: white;
border-radius: 7px;
padding: 10px;
width:30em;
border-color: white;
}
input{
display: inline-block;
float: right;
}
.img{
margin-left: 2em;
margin-top: 2em;
}

/* Metrics System  */
.bmi-label {
    background-color: rgb(41, 72, 247);
    color: white;
    border-radius: 7px;
    padding: 10px;
    font-size: 1.2em;
    width:20em;
    border-color: white;
    text-align: center;
}

/* The Result display area  */
.result {
    padding: 30px 20px;
  }
  .result p {
    font-weight: 600;
    font-size: 22px;
    color: #000;
    margin-bottom: 20px;
    text-align: center;
  }
  .result #result {
    font-size: 36px;
    font-weight: 900;
    color: #4f7df9;
    background-color: #eaeaea;
    display: inline-block;
    padding: 20px 20px;
    border-radius: 55px;
    margin-bottom: 25px;
  }

/* media query for result */
@media screen  and (max-width: 500px) {
    .result{
      padding: 40px 10px;
    }
    .result p{
      font-weight: 700;
      font-size: 25px;
      color: #000;
      margin-bottom: 20px;
    }
    #comment {
      color: #4f7df9;
      font-weight: 200;
      margin:0 1px;
     padding: 6px;
   
    }
    
  }
  #comment {
    color: #4f7df9;
    font-weight: 800;
  }